{% extends "pronomen_app/base.html" %}

{% block title %}Detailansicht{% endblock %}

{% block page_title %}{{pronoun.name}} {{ pronoun.version }}{% endblock %}

{% block content %}
{% autoescape off %}
<article>

    <div class="cases cases-header clearfix">
        <div class="case nominativ">Nominativ</div>
        <div class="case genitiv">Genitiv</div>
        <div class="case dativ">Dativ</div>
        <div class="case akkusativ">Akkusativ</div>
    </div>

    {% for type in pronoun.children %}
    <header class="clearfix pronoun">
        <h2>{{ type.text }} – {{ type.metadata.name }}</h2>
        <h4>{{ type.phonetic }}</h4>

        {% if type.note %}
        <p>{{ type.note }}</p>
        {% endif %}
    </header>

    {% if type.type == 'possessiv' %}
    <div class="cases cases-header clearfix">
        <div class="case nominativ">Nominativ</div>
        <div class="case genitiv">Genitiv</div>
        <div class="case dativ">Dativ</div>
        <div class="case akkusativ">Akkusativ</div>
    </div>
    {% endif %}

    <section>

        <div class="cases clearfix">
        {% for subtype in type.children %}


        {% if subtype.schema_id == 'case.0.1' %}
            <div class="case {{ subtype.type }}">
                {{ subtype.text }}
            </div>

        {% elif subtype.schema_id == 'genus.0.1' %}
            <div class="genus {{ subtype.type }} clearfix">
                <h3>{{ subtype.metadata.name }}</h3>
                {% if subtype.note %}
                <p>{{ subtype.note }}</p>
                {% endif %}
            </div>

            <div class="cases clearfix">
            {% for subsubtype in subtype.children %}
                <div class="case {{ subsubtype.type }}">
                    {{ subsubtype.text }}
                </div>
            {% endfor %}
            </div>

        {% endif %}
        {% endfor %}
        </div>
    </section>
    {% endfor %}

</article>

<aside>
    <header class="clearfix"><h1>{{ pronoun.name }}</h1></header>
    <section>
        <h2>{{ pronoun.version }}</h2>
        <p>{{ pronoun.phonetic }}</p>
        <p>{{ pronoun.description }}</p>
        <p>{{ pronoun.author }} – {{ pronoun.source }}</p>
    </section>
</aside>
{% endautoescape %}
{% endblock %}
