{% extends "pronomen_app/base.html" %}

{% block title %}Übersicht{% endblock %}

{% block page_title %}Übersicht{% endblock %}

{% block nav_home %}<!-- hide on home page -->{% endblock %}

{% block content %}
{% autoescape off %}
<article>
    {% for pronoun in pronouns.values %}
    <header class="clearfix">
        <a href="{{ pronoun.id }}"><h3>{{ pronoun.name }} {{ pronoun.version }}</h3></a>
        <p>{{ pronoun.description }}</p>
    </header>
    {% endfor %}
</article>

<aside>
    <header class="clearfix"><h1>Willkommen</h1></header>
    <section>
        <p>Dies hier ist der erste Prototyp.</p>
        <p>Lies dir hier durch, worum es geht: <a href="https://github.com/jh0ker/pronomen#pronomen-arbeitstitel">GitHub-Projekt</a> </p>
    </section>
</aside>
{% endautoescape %}
{% endblock %}
